@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "ZCOOL KuaiLe", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: rgb(18, 18, 18);
  color: white;
  transition: 200ms background-color;
}

.light {
  background-color: white;
  color: rgb(18, 18, 18);

  .popular-search {
    ul {
      li {
        border-color: rgb(18, 18, 18);
      }
    }
  }

  .app {
    .border-div {
      background-image: none;
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

      .image-wrapper {
        background-color: white;
      }
    }
  }

  .search {
    input {
      border: 2px solid black;
      color: black;
    }
  }
}

.header {
  text-align: center;

  h1 {
    margin: 60px 0px;
    position: relative;
    font-family: "ZCOOL KuaiLe", cursive;
    font-size: 100px;
  }

  .dark-mode {
    position: absolute;
    right: 10px;
    top: -10px;

    input[type="checkbox"] {
      visibility: hidden;

      &:checked + label {
        transform: rotate(360deg);
        background-image: linear-gradient(to right, #434343 0%, black 100%);

        &:before {
          transform: translateX(50px);
          background-color: rgb(255, 0, 0);
        }
      }
    }

    label {
      display: flex;
      width: 90px;
      height: 45px;
      border: 6px solid;
      border-radius: 99em;
      position: relative;
      transition: transform 0.75s ease-in-out;
      transform-origin: 50% 50%;
      cursor: pointer;

      &:before {
        transition: transform 0.75s ease;
        transition-delay: 0.5s;
        content: "";
        display: block;
        position: absolute;
        width: 27px;
        height: 27px;
        background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
        border-radius: 50%;
        top: 3px;
        left: 3px;
      }
    }
  }
}

.search {
  width: 50%;
  margin: 20px auto;
  text-align: center;

  @media (max-width: 600px) {
    width: 90%;
  }

  input {
    width: 400px;
    max-width: 90%;
    border-radius: 999px;
    font-size: 18px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 15px;
    font-family: "ZCOOL KuaiLe", cursive;
    font-size: 20px;
    display: inline-block;

    &:focus {
      box-shadow: rgb(255 255 255 / 25%) 0px 0px 20px 7px;
      outline: none;
    }
  }
}

.popular-search {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 600px) {
    width: 100%;
  }

  ul {
    display: flex;
    list-style: none;
    margin-bottom: 20px;

    @media (max-width: 600px) {
      flex-wrap: wrap;
    }

    li {
      border: 2px solid white;
      padding: 10px;
      border-radius: 10px;
      margin: 0 15px;

      @media (max-width: 600px) {
        min-width: 37%;
        max-width: 37%;
        margin-bottom: 10px;
      }
    }
  }
}

.app {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 600px) {
    width: 90%;
  }

  .border-div {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    width: calc(33% - 20px);

    @media (max-width: 600px) {
      width: 100%;
    }

    height: 400px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;

    .image-wrapper {
      width: 100%;
      height: 100%;
      background-color: rgb(18, 18, 18);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.692);
  display: none;
  position: fixed;
  align-items: center;
  z-index: 9;
  justify-content: center;
  inset: 0;

  .popup-container {
    width: 30%;
    height: 50%;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px,
      rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px,
      rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    z-index: 99;
    position: relative;
    background-color: black;

    @media (max-width: 600px) {
      min-width: 77%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    a {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 50px;

      @media (max-width: 600px) {
        font-size: 30px;
      }
    }

    .back-div {
      width: 40px;
      height: 40px;
      top: -35px;
      right: -35px;
      position: absolute;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
      cursor: pointer;

      p {
        font-size: 23px;
        color: white;
      }
    }
  }
}
